djenv/
XChicks/db.sqlite3
XChicks/ChicksApp/__pycache__/*
XChicks/XChicks/__pycache__/settings.cpython-312.pyc
XChicks/XChicks/__pycache__/urls.cpython-312.pyc
XChicks/XChicks/__pycache__/urls.cpython-312.pyc
