# Virtual Environment
djenv/
venv/
env/

# Database
*.sqlite3
XChicks/db.sqlite3

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
local_settings.py
db.sqlite3-journal
media/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local

# Compiled Python files
*.pyc

# Migration files
# */migrations/*.py
# !*/migrations/__init__.py

# Static files collected
/static/
